:host {
  display: block;
  border-radius: 5px;
  margin: 20px 0;
  /*padding: 20px;*/
  box-shadow: 3px 3px 2px #ccc;
  /* transition: border-color 0.5s ease-out;*/
}

.form-control {
  display: inline-block;
  width: 50%;
}

/*:host(.marked) {
  padding: 19px;
}*/

:host(.inactive) {
  color: #ccc;
}
